*.Cache
*.Settings
*.bat
*.class
*.jar
*.log
*.sdsettings
*.shf*
*.suo
*.userprefs
.classpath
.pmd
.project
.settings/
/target
CBORTest/bin/
CBORTest/obj/
Help/
OpenCover/
ProfilingSessions/
TestResults/
bin/
cache/
coverage.xml
js/*.ht*
js/DecTest.*
obj/
packages/
