*.Cache
*.Settings
*.bat
*.class
*.jar
*.log
*.map
*.sdsettings
*.shf*
*.suo
*.userprefs
.classpath
.nuget/
.pmd
.project
.settings/
/target
CBORTest/bin/
CBORTest/obj/
Help/
OpenCover/
ProfilingSessions/
TestResults/
bin/
cache/
coverage.xml
encoding/
js/*.ht*
js/DecTest.*
obj/
packages/
target/
