bin/
obj/
.settings/
Help/
cache/
TestResults/
CBORTest/bin/
CBORTest/obj/
packages/
OpenCover/
*.Cache
*.sdsettings
js/*.ht*
js/DecTest.*
ProfilingSessions/
coverage.xml
.project
.classpath
*.shf*
*.Settings
*.class
*.suo
*.log
.pmd
/target
